.custom_input_label {
  font-size: large;
}
.my-short-description {
  padding-top: 9px;
  float: none;
}
.my-info-icon {
  /* background-color: black; */
  /* width: 100px; */
  float: right;
}
.home_page_container {
  min-height: 90vh !important;
  margin-top: 3vh;
  background-image: url("https://previews.123rf.com/images/kinwun/kinwun1902/kinwun190200079/120505982-technician-farmer-use-wifi-computer-control-agriculture-drone-fly-to-sprayed-fertilizer-on-the-rice-.jpg");
}
